.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  align-items: end;
  max-width: 1130px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 15px 0 10px 15px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.button {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  background-color: #fff;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.delete-event-btn {
  border: none;
  background-color: #fff;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__today-btn {
  height: 35px;
}
.navigation__nav-icon {
  margin-left: 20px;
}
.navigation__displayed-month {
  margin-left: 30px;
}

.calendar {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
}
.calendar__header {
  display: flex;
  justify-content: space-around;
  padding-left: 60px;
  position: sticky;
  top: 66px;
  background-color: #fff;
  z-index: 10;
}
.calendar__day_label {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.calendar__body {
  margin-top: 80px;
  position: relative;
}
.calendar__week-container {
  display: flex;
}
.calendar__week {
  display: flex;
  margin-left: 17px;
  flex-grow: 1;
}
.calendar__day {
  border: 1px solid #ccc;
  max-width: 100%;
  flex-grow: 1;
}
.calendar__time-slot {
  position: relative;
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
  min-height: 60px;
}
.calendar__time-slot__time {
  flex-basis: 60px;
}

.day-label__day-name {
  text-align: center;
}
.day-label__day-name_active {
  color: blue;
}
.day-label__day-number {
  font-size: 25px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
.day-label__day-number_active {
  border-radius: 50%;
  background-color: blue;
  color: #fff;
}

.current-time {
  position: absolute;
  width: 100%;
  z-index: 3;
}
.current-time__line {
  width: 100%;
  background-color: #ff0000;
  height: 3px;
  position: absolute;
}
.current-time__circle {
  width: 10px;
  top: -4px;
  left: -5px;
  background-color: #ff0000;
  position: absolute;
  border-radius: 50%;
  height: 10px;
}

.calendar__time-scale {
  display: flex;
  flex-direction: column;
}
.calendar__time-scale-slot__time {
  flex: 1 1 60px;
  padding-left: 17px;
  font-size: 10px;
}

.create-event {
  position: relative;
}
.create-event__close-btn {
  margin-left: 93%;
  transform: rotate(45deg);
  font-size: 27px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.event-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 360px;
  position: relative;
}
.event-form input[type=text] {
  border-bottom: 1px solid #1a73e8;
  margin: 30px 0 50px 30px;
}
.event-form__field {
  line-height: 26px;
  border: none;
}
.event-form__field[name=description] {
  margin: 46px 0 0 30px;
  height: 100px;
}
.event-form__time {
  box-sizing: border-box;
  margin: 0 0 0 30px;
  padding: 0;
  border: none;
}
.event-form__submit-btn {
  border: none;
  background-color: #1a73e8;
  position: absolute;
  bottom: 0px;
  right: -3px;
  width: 120px;
  height: 35px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.create-event-btn {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.create-event-btn-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding: 0 12px 0 7px;
}

.event {
  padding: 5px;
  background-color: #1a73e8;
  position: absolute;
  width: 85%;
  z-index: 2;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
